/* big tablet to 1200px: widths smaller than the 1140px row */
@media only screen and (max-width: 1200px) {
    .hero-text-box{
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
}

/* Small Tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0;}
    .long-copy {
        width:80%;
        margin-left: 10%;
    }
        
    .icon-small { 
        width: 17px;
        margin-right: 5px;
    }
    .project-feature{ font-size: 90%;}
        .contact-form { width: 90%;}
    
}


/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body {font-size: 16px;}
    section {padding: 30px 0;}
    .row,
    .hero-text-box {padding: 0 4%;
    }
    .col { 
        width: 100%;
        margin: 0 0 1% 0;
    }
    
    .main-nav { display: none;}
    .mobile-nav-icon {display: inline-block;}
        
    .main-nav {
        float:left;
        margin-left: 25px;
    }
        
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        margin-top: -12px;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {padding: 10px 0px;}
    .sticky .main-nav { margin-top: 10px;}
    .sticky .mobile-nav-icon i {color: #555;}
    .sticky .mobile-nav-icon {margin-top: 0px}
    
    .long-copy { 
        width: 100%;
        margin-left: 0;
    }
    h1 { font-size: 180%}
    h2 { font-size: 150%}
    .project-feature {text-align: center;}
    
    .form-box {
        position: relative;
        width: 100%;
        height: auto;
        padding: 30px 0;
    }
    
    .footer-nav,
    .social-links {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    
    footer {
        padding: 10px;
    }
    
    input.project1-input {
    width: 96%;
    margin: 0 2%;
    margin-bottom: 10px;
    border-radius: 200px;
    }
    
    input.project3-input {
    width: 70%;
    margin: 0 15%;
    margin-bottom: 10px;
    border-radius: 200px;
    }
    
    input.project3-input:focus {
        width: 96%;
        margin: 0 2%;
        margin-bottom: 10px;
        border-radius: 200px;
    }
    
    .btn:hover,
    .btn:active,
    input[type=submit]:hover,
    input[type=submit]:active {
        background-color: #2196F3;
    }

    .btn-full:hover,
    .btn-full:active, {
        border: 1px solid #2196F3;
    }

    .btn-ghost:hover,
    .btn-ghost:active {
        border: 1px solid #2196F3;
        color: #2196F3;
    }
        
    a:hover, 
    a:active {
    color: #2196F3;
    border-bottom: 1px solid transparent;
    }
    
    .main-nav li a:hover,
    .main-nav li a:active {
        border-bottom: 2px solid transparent;
    }
    
    .projects-nav-large li a:hover,
    .projects-nav-large li a:active,
    .projects-nav-small li a:hover,
    .projects-nav-small li a:active {
        border-bottom: 2px solid transparent;
    }
    
    .footer-nav li a:hover,
    .footer-nav li a:active,
    .social-links li a:hover,
    .social-links li a:active {
        color: #888;
    }
    
    .ion-social-facebook:hover {
    color: #888;
    }

    .ion-social-twitter:hover {
        color: #888;
    }
    .ion-social-linkedin:hover {
        color: #888;
    }
    
    .project1-addButton:hover,
    .project1-deleteButton:hover {
        background-color: #2196F3;
        border: 1px solid #2196F3;
    }
    
    #showTemp:hover {
        text-decoration: none;
    }
    
    .project3-searchButton:hover,
    .project3-randomButton:hover {
        background-color: #2196F3;
        border: 1px solid #2196F3;
    }
    
    .project4-randomQuoteButton:hover,
    .project4-tweetQuoteButton:hover {
        background-color: #2196F3;
        border: 1px solid #2196F3;
    }
    
}   


/* Small phones: 0 to 480px */
@media only screen and (max-width: 479px) {
    section { padding: 25px 0; }
    .contact-form { width: 100%; }
    .main-nav {
        flex: auto;
    }
    .projects-nav-large {
        display: none;
    }
    .projects-nav-small {
        display: inline-block;
    }
}
















    
    
    